{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <link rel="shortcut icon" href="#">
	<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	

  <!--	<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />-->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

	<!--<script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>-->
  <!--<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>-->
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" hrefjs>
	<!--<script type="text/javascript" src="{% static 'js/messages.js' %}"></script>-->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<div class="topnav">
  <a href="#SignOut">Sign Out</a>
  <a href="/accounts/profile">Edit Profile</a>
  <a class="active" href="#messages">Messages</a>
  <a  href="/">Find Connections</a>
  <a class="brand">SoulMate</a>
</div>

<div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div class="wrap">
            <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
            <p>James Williams</p>
          </div>
        </div>
        <div id="search">
          <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" placeholder="Search Matches..." />
        </div>
        <div id="contacts">
          <ul>
            <li class="contact active">
              <div class="wrap" id="display2">
                <!--<span class="contact-status busy"></span>
                <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                <div class="meta">
                  <p class="name">Josefina Montoya</p>
                  <p class="preview">oh, Good.</p>
                </div>-->
              

                {% for i in info %}
                {% for name in i.friends.all %} 
                <!--<a method="POST" href="checkview">-->
                <a href="/chatroom/check/{{name.email}}/view">
                  <li>  name : {{name.first_name}}      </li>
                </a>
                {% endfor %}
                {% endfor %}
                </div>

            </li>
          </ul>
        </div>
      </div>
      <div class="content">
          <div  class="messages">
            <div id="display">
            <h1>CHEKCING</h1>
            <!-- <ul>
                <li class="replies">
                  <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                  <p>Hiii</p>
                </li>
                <li class="sent">
                  <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                  <p>Hello</p>
                </li>
              </ul>-->
            </div>
          <div>
      
        <div class="message-input">
              <div class="wrap">
                    <form id="post-form">
                      {% csrf_token %}
                      <h1>CHEKCKEKCE </h1>
                      <input type="hidden" name="user" id="user" value="{{user}}"/>
                      <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                      <input type="text" name='message' id='message' placeholder="Write your message..." />
                      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                      <button class="submit" value="Send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                </div>
        </div>
    
</div>


  <script>
      $(document).ready(function(){

      setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chatroom/getMessages/{{room}}/",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
      },1000);
      })
      </script>
<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/chatroom/send',
      data:{
          username:$('#user').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>

</body>


</html>