{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

	<script src="https://use.typekit.net/hoy3lrg.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">

	<meta charset="utf-8">
	<title></title>
</head>
<body>

<div class="topnav">
  <a class="hvr" href="#SignOut">Sign Out</a>
  <a class="hvr" href="{% url 'notification' %}">Notifications</a>
  <a class="active hvr" href="{% url 'default' %}">Messages</a>
  <a class="hvr" href="{% url 'matching' %}">Xplore</a>
  <a class="brand" href="#home"><img class="logo-image" src="{% static 'img/logo-for-nav.png' %}"></a>
</div>

<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" src="{{user.parent_user.image.url}}" class="online" alt="" />
        <p>{{user.first_name}}</p>
      </div>
    </div>
    <div id="search">
      <input type="text" placeholder="🔍 Search Matches..." />
    </div>
    <div id="contacts">
      <ul>
                  {% for i in info %}
              {% for name in i.friends.all %} 

      <a href="/chatroom/check/{{name.email}}/view">

        <li class="contact active">
          <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="{{name.parent_user.image.url}}" alt="" />
            <div class="meta">
              <p class="name">{{name.first_name}}</p>
              <p class="preview">Click here to open</p>
            </div>
          </div>
        </li>

      </a>
            {% endfor %}
            {% endfor %}

      </ul>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <img src="{{name.parent_user.image.url}}" alt="" />
      <p>Messages</p>
    </div>
        <div class="messages">
            <ul>
                <li class="replies">
                </li> 
                <li class="sent">

                 <p>Loading your messages...</p> 
                </li>

            </ul> 
        </div>
               <div class="message-input">
                    <div class="wrap">
                            <form id="post-form">
                            {% csrf_token %}
                            <input type="hidden" name="user" id="user" value="{{user}}"/>
                            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                            <input type="text" name='message' id='message' placeholder="Write your message..." />
                            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                            <button class="submit" value="Send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                </div>

  </div>
</div>

<script>
      $(document).ready(function(){
        var u_name = document.getElementById('user').value ;
       //alert('got it' + u_name);
      setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chatroom/getMessages/{{room}}/",
            success: function(response){
                console.log(response);
                $(".sent").empty();
              //  $(".replies").empty();
              //  $(".messages").empty();

                for (var key in response.messages)
                //  alert(response.messages[key].user + ' ' + u_name )
                {   if(response.messages[key].user==u_name){
                  //alert(response.messages[key].user + ' ' + u_name )
                  var temp="<div  style='text-align:right' ><p>"+response.messages[key].value+"</p></div>";
                  //  alert('temp' + temp)
                    $(".sent").append(temp);
                   }
                   else {
                    //var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                    var temp="<div  ><p>"+response.messages[key].value+"</p></div>";
                    $(".sent").append(temp);
                   }
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
      },1000);
      })
      </script>
<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/chatroom/send',
      data:{
          username:$('#user').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>


<script type="text/javascript" src="messages.js"></script>
</body>

</html>